$gray00: #aaa;
$gray01: #777;
$gray02: #555;
$gray03: #444;
$gray04: #333;
$gray05: #222;
$clearBtnColor: #991010;
$clearBtnHoverColor: #ff1b1b;
$clearBtnActiveColor: #aa1b1b;
$runBtnColor: rgb(122, 201, 155);
$runBtnHoverColor: rgb(168, 245, 200);
$stopBtnColor: rgb(201, 158, 122);
$stopBtnHoverColor: rgb(247, 200, 162);
$iterationsColor: rgb(149, 243, 149);
$intervalColor: rgb(149, 221, 243);
