@import "helpers/variables";


.title {
  display: flexbox;
  text-align: center;
  width: 990px;
  margin: auto;
  margin-top: 10px;
  border: 1px solid $gray01;
  border-radius: 10px;

  &:hover {
    background-color: $gray04;
    color: $gray01;
    border: 1px solid $gray05;
  }
}

.author {
  text-align: right;
  display: block;
  color: #ddd;
  margin-left: auto;
  width: fit-content;
  border: 1px solid $gray02;
  padding: 2px 5px 2px 5px;
  border-radius: 10px 10px;

  &:hover {
    background-color: $gray05;
    color: #fff;
    border: 1px solid $gray01;
  }
}

h1 {
  font-size: 2em;
}