.title {
  display: flexbox;
  text-align: center;
  width: 90%;
  margin: auto;
  margin-top: 10px;
  border: 3px double #777;
}

.footer {
  text-align: right;
  display: block;
  color: #ddd;
  margin-left: auto;
  width: fit-content;
  border: 1px solid #555;
  padding: 2px 5px 2px 5px;
}

h1 {
  font-size: 3em;
}
