.Board {
  position: relative;
  background-color: #111;
  margin: 10px auto;
  border: 1px solid #888;
  background-image: linear-gradient(#444 1px, transparent 1px),
    linear-gradient(90deg, #333 1px, transparent 1px);
}

.Cell {
  background: #ababab;
  position: absolute;
}

.controls {
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
  display: block;
  text-align: center;
}

.button {
  margin-left: 2px;
  width: 130px;
  background-color: #555;
  border: 1px dashed #777;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  text-transform: uppercase;
  overflow: hidden;
  cursor: grab;
  font-family: 'Titillium Web', sans-serif;
}

.button:hover {
  background-color: #777;
}

.button:active {
  background-color: #aaa;
}

.btnClear {
  background-color: #991010;
}

.btnClear:hover {
  background-color: #ff1b1b;
}

.btnClear:active {
  background-color: #aa1b1b;
}

input {
  width: 50px;
  margin: 0px 5px 0px 5px;
  text-align: center;
  background-color: #444;
  color: white;
}

input:focus {
  outline: none;
  border-color: #a8ff1b;
  box-shadow: 0 0 2px #51be07;
}

input#iterations {
  color: rgb(149, 243, 149);
  font-size: larger;
  border: none;
}