@import url('https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap');

body {
  font-family: 'Titillium Web', sans-serif;
  margin: auto;
  color: #999;
  background-color: rgb(47, 47, 47);
}
